$alert-red: #D51C29;
$mid-red: #AB121C;
$dark-red: #790002;

$alert-red-lighter: #e26069;
$alert-red-darker: #aa1621;


$very-blue: #24338A;

$white: #FFFFFF;

$slight-white: #E4E6EB;
$off-grey: #C8C8C8;

$mid-grey: #818181;
$dark-grey: #232323;

$mid-grey-lighter: #a7a7a7;
$mid-grey-darker: #676767;

$dark-grey-lighter: #656565;
$dark-grey-darker: #1c1c1c;


$small-corner: 8px;
$medium-corner: 8px;

$breakpoint-large-phone: 400px;
$breakpoint-tablet: 600px;
$breakpoint-laptop: 900px;
$breakpoint-desktop: 1200px;