/* Forms */
input {
    height: 48px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: $medium-corner;
    width: 100%;
    background-color: $mid-grey;
    font-size: 1.25rem;
    color: $slight-white;
    transition: 150ms ease;
    @media (min-width: $breakpoint-laptop) {
        padding: 8px;
        border-radius: $small-corner;
        // margin-bottom: 32px;
    }
}
input:hover {
    // filter: brightness(1.1);
    background-color: $mid-grey-darker;
    cursor: text;
}
input:focus {
    background-color: $mid-grey-darker;
    outline: none;
}
::placeholder {
    color: $slight-white;
}

.search {
    height: 72px;
    padding: 8px 0;
    margin-bottom: 8px;
    form {
        height: 48px;
        .search-bar {
            padding: 8px 16px 8px 56px;
            // margin: 8px 0 24px 0;
        }
        .material-icons-outlined {
            font-size: 2rem;
            position: relative;
            top: -56px;
            left: 12px;
        }
    }
}