footer {
    background-color: #eee;

    .wrapper {
        height: 48px;
        width: 100%;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
            font-weight: 500;
        }

        .contact {
            display: flex;
            gap: 12px;

            .fab,
            .far {
                font-size: 1.5rem;
                color: $near-black;
                transition: 150ms ease;
            }

/*             .fab:hover,
            .far:hover {
                color: $red;
            } */

            a {
                position: relative;
                color: #888;
            }

            a:hover .fab,
            a:hover .far {
                color: #000;
            }

            a::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -4px;
                width: 0;
                height: 2px;
                transition: 450ms ease;
                // background: linear-gradient(90deg, rgba(247, 63, 63, 1) 0%, rgba(242, 205, 15, 1) 33%, rgba(106, 235, 45, 1) 66%, rgba(45, 197, 255, 1) 100%);
                
            }
        
            a:hover::after {
                left: 0;
                right: auto;
                width: 100%;
            }
        }
    }
}

@media (min-width: $tablet) {
    footer {
        .wrapper {
            height: 64px;
        }
    }
}