.wrapper {
    padding: 16px;
    max-width: $desktop;
    margin: 0 auto;
}

html {
    scroll-padding-top: 48px;
}

body {
    background-color: white;
}

main {
    min-height: calc(100vh - 96px);
    margin: 48px 0;
}

section {
    margin-bottom: 64px;
}

@media (min-width: $tablet) {
    html {
        scroll-padding-top: 64px;
    }

    main {
        margin: 64px 0;
    }
}