$white: #ffffff;
$near-black: #333333;

$red: #ED213A;

$spoiler-alert: #d41c28;
$aquanaut: #2fb4e5;
$spicy-sizzle: #d00000;
$forests: #4c892a;
$boost: #c626fe;

$tiny-corner: 4px;
$small-corner: 8px;
$medium-corner: 16px;

$phablet: 500px;
$tablet: 700px;
$laptop: 1000px;
$desktop: 1400px;